body {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }
.services-body-container{
width: 1100px;
}
body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}


.main-page{
    padding: 20px;
   background-image: url(images/Background.jpg) ;

    /*background-image: linear-gradient(to right, rgb(137, 9, 73), rgb(117, 209, 19));*/
   /* background-color: rgb(15, 165, 120);*/
    /* color: brown; */
}


.navbar{
    display: flex;
    justify-content: space-between;     /* Horizontally align*/
    color: rgb(6, 6, 6);
}

.profile{
    display: flex;
    align-items: center;                /* Veritically align */
    /* margin: 20px; */
    font-size: 25px;
}
.profile p{
    font-weight: bold;
    margin: 5px;
}


.profile-img{
    border-radius: 50%;
  
}

.nav-list{
    list-style-type: none;
    
}

.resume-btn{
    padding: 10px 20px;
    margin: 20px 20px;
    background-color: rgb(106, 89, 230);
    color:#ffff;
    text-decoration: none;
    border-radius: 5px;
    border-color: aliceblue;
    outline-color:rgb(13, 155, 160) ;
    outline-style: solid;
}
.resume-btn:hover{
    background-color: brown;
}
.img-main{
    border: 5px solid rgba(251, 249, 249,.4);
}

.main-content{
    display: flex;
}

.main-left{
    width: 50%;
    padding: 100px;
}
.main-left h1, h2{
    color: rgb(0, 0, 0)
}
.main-left p{
    color: rgb(7, 7, 7);
}
.main-right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-right img{
    width: 50%;
    border-radius: 50%;

}
.date-time{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}
.skills, .series, .projects,.education,.Social,.pro{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-image: linear-gradient(to right, rgb(248, 233, 205), rgb(203, 203, 247));
    /* background-image: linear-gradient(to right, #ebe288, #aae9ab, #80e5d7, #89daf1, #b0cbee); */
}


.contact{
    padding-top: 50px;
    text-align: center;
    background-color: rgb(9, 42, 62);
    color: white;
    padding-bottom: 50px;
    align-items: center;
    
}

.email-contact{
    margin: 30px;
    
}
.email-contact-div{
    justify-content: center;
    display: flex;
    
    
}

.email-contact a{
    color: white;
    text-decoration: none;
    border: 1px solid orange;
    margin: 20px;
    padding:15px;
    border-radius: 10px;
    
  
}
.email-contact a:hover{
    color: rgb(224, 108, 24);
}

.skills-info, .series-info{
    font-size: 22px;
}

.skills-card-container{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    padding: 25px;
    box-shadow: 5px 5px 5px 5px rgb(206, 204, 204);
    border-radius: 10px;
    background-color: aliceblue;
}

.skills-card-container div{
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    border: 1px solid orange;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pro-card-container{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    padding: 25px;
    box-shadow: 5px 5px 5px 5px rgb(206, 204, 204);
    border-radius: 10px;
    background-color: aliceblue;
}
.pro-card-container div{
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    border: 2px solid rgb(47, 165, 228);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.education-card-container div{
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    border: 2px solid rgb(211, 7, 21);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.education-card-container{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    padding: 25px;
    box-shadow: 5px 5px 5px 5px rgb(206, 204, 204);
    border-radius: 10px;
    background-color: aliceblue;
}
.Social-card-container div{
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    border: 2px solid rgb(146, 11, 155);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Social-card-container{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    padding: 25px;
    box-shadow: 5px 5px 5px 5px rgb(206, 204, 204);
    border-radius: 10px;
    background-color: aliceblue;
}
.orange-theme{
    color: rgb(245, 142, 23);
}

.series-btn{
    color: white;
    background-color: rgb(245, 142, 23);
    font-size: 20px;
    font-family: Poppins;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    margin-bottom: 50px;
}
.pro-img{
    border-radius: 2px;
}
.project-alignment{
 padding: 5px;
 
}
.link{
    text-decoration: none;
    color:rgb(0, 0, 0);
}
.link:hover{
    color:red;
}
.Resume{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(221, 9, 9);
    text-align: center;
}
.pdf{
    height: 100%;
    width: 100%;
}



